@charset "utf-8";

header {
    background-color: #B0B0B0;
    font-size: 2rem;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

h1, h2, h3 {
    background-color: #CCCCCC;
}

h4, h5, h6 {
    border-bottom: solid 1px #CCCCCC;
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
    background-color: #F0D080;
}

code {
    background-color: #E8F0FF;
}

pre.example {
    background-color: #F8F0E0;
}

code.example {
    background-color: inherit;
}
